repos:

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
        args: ['--maxkb=10000']
      - id: check-ast
      - id: check-builtin-literals
      - id: check-json
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: pretty-format-json
        args: [--autofix, --no-sort-keys, --indent, "4"]
      - id: trailing-whitespace
      - id: no-commit-to-branch
        args: [--branch, main, --branch, develop]

  - repo: https://github.com/pycqa/isort
    rev: 7.0.0
    hooks:
      - id: isort
        name: isort (python)

  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.14.8
    hooks:
      # Run the linter.
      - id: ruff-check
        args: [ --fix ]

      # Run the formatter.
      - id: ruff-format

  # - repo: https://github.com/jsh9/pydoclint
  #   rev: 0.8.3
  #   hooks:
  #     - id: pydoclint
  #       args: [--config=pyproject.toml]
